* {
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.container.game {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    font-size: 24px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.container.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 16px;
}

button {
    font-size: 36px;
    padding: 8px 16px;
    border-radius: 8px;
}

.game-display {
    width: 320px;
}

#game-explanation {
    margin: 8px -8px;
}

#game-outcome {
    font-size: 24px;
    text-align: center;
    margin: 8px;
}